@font-face {
    font-display: block;
    font-family: 'iservice';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/iservice.eot?8x8npp');
    src: url('fonts/iservice.eot?8x8npp#iefix') format('embedded-opentype'),
        url('fonts/iservice.ttf?8x8npp') format('truetype'),
        url('fonts/iservice.woff?8x8npp') format('woff'),
        url('fonts/iservice.svg?8x8npp#iservice') format('svg');
}